[submodule "scripts"]
	path = scripts
	url = https://github.com/IDEA-Research/GroundingDINO
[submodule "pickup/scripts/GroundingDINO"]
	path = pickup/scripts/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO
