[submodule "scripts"]
	path = scripts
	url = https://github.com/IDEA-Research/GroundingDINO
[submodule "pickup/scripts/GroundingDINO"]
	path = pickup/scripts/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO
[submodule "pickup/scripts/nanoowl"]
	path = pickup/scripts/nanoowl
	url = https://github.com/NVIDIA-AI-IOT/nanoowl
[submodule "pickup/scripts/nanosam"]
	path = pickup/scripts/nanosam
	url = https://github.com/NVIDIA-AI-IOT/nanosam
[submodule "pickup/scripts/segment-anything"]
	path = pickup/scripts/segment-anything
	url = https://github.com/facebookresearch/segment-anything
